.dropdown-container {
  text-align: left;
  border: 2px solid  rgb(5, 4, 71);
  position: relative;
  border-radius: 10px;
}

.dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  color:  rgb(5, 4, 71);
}

.dropdown-menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid  rgb(5, 4, 71);
  border-radius: 5px;
  overflow: auto;
  max-height: 150px;
  background-color:  rgb(255, 255, 255);
  z-index: 99;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
  color:rgb(5, 4, 71)
}

.dropdown-item:hover {
  background-color:  rgb(126, 124, 160);
}

.dropdown-item.selected {
  background-color:   rgb(81, 80, 133);
  color: #ffffff;
}

.dropdown-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.dropdown-tag-item {
  background-color: rgb(255, 255, 255);
  padding: 2px 4px;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.dropdown-tag-close {
  display: flex;
  align-items: center;
}

